Q.1
Here we are creating by having one variable containg the given type of data as given : string ,list,float,tuple. It can only be achieved by using list types function or data types to hold in one variable. By list function it's helps to having multiple data types in one variable.By the below examples and its following data types .

In [77]:
#for example 1 
variable = ["nishant" , [1,2,3],18,9.8,("hello",2.5,2)]
for i in variable :
    print(i,type(i))

nishant <class 'str'>
[1, 2, 3] <class 'list'>
18 <class 'int'>
9.8 <class 'float'>
('hello', 2.5, 2) <class 'tuple'>

In [76]:
#for example 2
list = ("nishant",[1,2,3],9.8,("hello",2.5,2))
for i in list :
        print(i,type(i))

nishant <class 'str'>
[1, 2, 3] <class 'list'>
9.8 <class 'float'>
('hello', 2.5, 2) <class 'tuple'>

Q.2
In the following problem with the given and
respective variable , we can get the data type by using "type(respective variable)" for getting the variable data type.

for 
(i) var1 = ''

In [78]:
var1 = ''
type(var1)

str

for 
(ii) var2 = '[ DS, ML,Python]'

In [79]:
var2 = '[ DS, ML,Python]'
type(var2)

str

for 
(iii) var3 =['DS','ML','Python']

In [80]:
var3 =['DS','ML','Python']
type(var3)

list

for
(iv) var4 =1.

In [81]:
var4 =1.
print(type(var4))

<class 'float'>

Q.3
(i)/
'/' is used in python and in many other programming languages in form of operator to perform operation of division .It is normally used between two numbers which may be integer or float , but the answer/result  will always be in float format.

In [84]:
#for example in integer format , which results in float value
10/2

5.0

In [85]:
#similarly example directly in float format
10.0/2.0

5.0

(ii)%
'%' is a type of operator used in python and many other programing languages for getting the remainder between the dividend and the divisor.The main cause is to get the remaining value of dividend ,while dividing by the divisor.

In [1]:
#examples for generating the remainder from the divisor while dividing from the divisor
5%3

2

(iii)//
'//' this is a type of operator which is mostly used in python languages comparing to remaining other languages.Here the main objective of the '//' is to find the floor value of dividend after dividing by the divisor.It's main works is to find the top value of the upcoming result from decimal (continue) case like 2.333... , so here the  total round off you can say is 2.

In [3]:
#examples for floor operator
10//3

3

(iv)**
'**' is a kind of operator in python to perform the power of function ,so that the first operand keeps on multiply to itself upto the counts of multiplication to itself did not reach the second operand value.

In [4]:
#here is the examples for ** operation 
2**3

8

Q.4
The below program is to have a list containing multiple different types of data with length 10 of that list.For function in list is to go through each elements in that list and perform some certain action .By using for loop function ,here we are going to print the elements and it's respective data types.

In [70]:
list = [1,2.0,'str',True,(1,2,3), {},{1,2,3},frozenset({1,2,3}),[1,2,3,4,5],None,range(1,10)]
for i in list:
    print(i ," is of type", type(i))

1  is of type <class 'int'>
2.0  is of type <class 'float'>
str  is of type <class 'str'>
True  is of type <class 'bool'>
(1, 2, 3)  is of type <class 'tuple'>
{}  is of type <class 'dict'>
{1, 2, 3}  is of type <class 'set'>
frozenset({1, 2, 3})  is of type <class 'frozenset'>
[1, 2, 3, 4, 5]  is of type <class 'list'>
None  is of type <class 'NoneType'>
range(1, 10)  is of type <class 'range'>

Q.5
The below program is to take the user input value for both number A as dividend and number B so that to check how many times the A value can be divisible by B .If the remainder will come while dividing ,it will stop the dividing process and gives the count previous or the last time count value for accessing the how many times it can be divisible.

In [6]:
A =int(input("Enter the value for A :"))
B =int(input("Enter the value for B :"))
count = 0 
while A%B==0 :
    A = A/B
    count = count+1
print(count)

Enter the value for A : 27
Enter the value for B : 5

0

Q.6
The below program is made by having 25 int type data in one list ,by using for loop for going to each element present in list and if-else condition to mark check whether it is divisible by 3 or not.

In [7]:
list = [2,3,23,22,24,12,15,45,30,31,6,7,46,47,48,76,67,56,88,96,94,112,21,46,74]
for i in list:
    if i%3 == 0 :
        print(f"{i} is divisble by 3")
    else :
        print(f"{i} is not divisible by 3")

2 is not divisible by 3
3 is divisble by 3
23 is not divisible by 3
22 is not divisible by 3
24 is divisble by 3
12 is divisble by 3
15 is divisble by 3
45 is divisble by 3
30 is divisble by 3
31 is not divisible by 3
6 is divisble by 3
7 is not divisible by 3
46 is not divisible by 3
47 is not divisible by 3
48 is divisble by 3
76 is not divisible by 3
67 is not divisible by 3
56 is not divisible by 3
88 is not divisible by 3
96 is divisble by 3
94 is not divisible by 3
112 is not divisible by 3
21 is divisble by 3
46 is not divisible by 3
74 is not divisible by 3

Q.7
By the term mutable or immutable is that the particular data type can be changed or not after once it got created.The word mutable having a word called 'mutation' , which means once after it got created is it still able to mutate/upgrade or not.
A data type is said to be mutable if after creating that particular data is it further able to change the data contain in that respective variable. For example : list, float,int, dictionary, set,  complex having variable are the following examples in which once after creating a variable having a changeable data types further is able to mutable data-types.
A data type is said to be immutable if after creating the particular data is further not able to change/upgrade the data contain in that respective variable. For example : frozen set, tuple, range having variable are the following examples in which once after creating a variable having a nonchangeable data further is know as immutable data-types.The best form of immutable data types is when a variable having a constant word before its variable name ,for example constant a : where variable a can contain any data types but after it got created it cannot take any changes further.Like wise a count variable which needs a upgradation in any kind loop function ,but if we writes constant before the count variable name ;now it is not able to change/upgrade or the count variable is not a counter anymore.